body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 350px;
    text-align: center;
    transition: 0.5s;
}

/
.logo {
    color: #27ae60;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.frase {
    color: #7f8c8d;
    font-style: italic;
    font-size: 16px;
    margin-top: 10px;
}

.explicacion {
    color: #444;
    line-height: 1.5;
    margin-top: 15px;
}

/* OTROS ESTILOS */
h1 { color: #2c3e50; margin-top: 5px; }

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn {
    background: #27ae60;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.lista {
    background: #f9f9f9;
    padding: 15px 15px 15px 40px;
    border-radius: 8px;
    text-align: left;
    color: #2d5a27;
}

img { width: 100%; border-radius: 8px; margin: 15px 0; }

.btn-regresar {
    background: #95a5a6;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
